
/* Animate Icons */
.human-resources {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
  width: 100%;
  height: 100%;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
/* Animate Icons */

/*Profile Image */
.profile .image {
  position: relative;
    width: 130px;
    height: 130px;
}

.profile .image .circle-1, .profile .image .circle-2 {
  position: absolute;
  box-sizing: border-box;
    width: 140px;
    height: 140px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #15e3f0 #15e3f0 #15e3f0 transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
    width: 145px;
    height: 145px;
    top: -6px;
    left: -6px;
    border-color: #016CF5 transparent #016CF5 #016CF5;
}
.profile .image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}
.profile .image:hover {
  cursor: pointer;
}
.profile .image:hover .circle-1, .profile .image:hover .circle-2 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.profile .image:hover .circle-2 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.profile-pic {
  position: relative;
  display: inline-block;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  display: none;
  background-color: #016cf5;
  border-radius:  50%;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  width: 30px;
  height: 30px;
}

.edit a {
  color: white;
}

.edit:hover {
  color: white;
  background-color: #000000;
}
/*Profile Image */

/* Buttons */
#gallery #images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #0094F3;
  background: -webkit-linear-gradient(to bottom, #0094F3, #00C9FF, #83DFFF);
  background: linear-gradient(to bottom, #0094F3, #00C9FF, #83DFFF);
}

#gallery #images img {
  width: 100%;
  height: 100%;
}

#gallery #images .figure {
  position: relative;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.lock {
  border-radius:  10px;
  border: #979797 solid 5px;
}

.lock:hover {border: #595959 solid 5px;}

.icon-check {font-size: 44px; color: #5FF400}

.lessons .active img {filter: blur(2px);}

#gallery #images .figure:hover {
  -webkit-box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.45);
  box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.45);
}

#gallery #images .figure .image {
  position: relative;
  display: block;
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  user-select: none;
}

#gallery #images .figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#gallery #images .figure .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:  20px;
  font-weight:  900;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#gallery #images .figure .text {
  position: relative;
  font-size: 10px;
  opacity: 0;
  transform: translateY(5vh);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
}

#gallery #images .figure hr {
  width: 50%;
  border: 0;
  border-bottom: 4px solid rgba(255,255,255,0.2);
}

#gallery #images .figure:hover .image {
  opacity: 0.3;
  transform: scale3d(1.2, 1.2, 1.2);
}

#gallery #images .figure:hover .text {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 48rem) {
  #gallery {
    padding: 0;
  }
  #gallery #images .figure {
    width: 46vw;
  }
}

@media only screen and (max-width: 32rem) {
  #gallery {
    padding: 0;
  }
  #gallery #images {
    flex-direction: column;
  }
  #gallery #images .figure {
    width: 100%;
    margin: 0.5vh 0;
  }
}


/* Animación Sidebar */
.animacion-sidebar-menu {
  position:relative;
  display:block; 
  margin:0 auto; 
  width:100%;
  height:100%; 
}


.cloud{ position:absolute;}


/* Cloud Animation */
@keyframes fade{
  0%{ opacity: 0;}
  10%{ opacity: 1;}
  90%{ opacity:1;}
  100%{ opacity:0;}
}

@keyframes move{  
  from{ left:1300px;}
  to{ left:0px; }
}
 
.cloud{ 
  animation-duration:50s; 
  animation-name:move, fade;
  animation-direction: normal;
  animation-iteration-count:infinite;
  animation-timing-function:linear; 
  animation-fill-mode:both;   
  
  display:block;
  background:url(https://www.linkids.com.mx/theme/svg/clouds.svg);
  height:150px;
  width:53px;
  background-repeat: no-repeat;
  margin:0 auto;  
  color: #ffffff;
}

.cloud--small{
  animation-duration:20s; 
  top:250px;
  transform: scaleX(0.5) scaleY(0.5); 
}

.cloud--medium{ 
  animation-duration:20s;
  animation-delay:5s;
  top:250px;
  transform: scaleX(0.7) scaleY(0.7); 
  z-index: 777777;
}

.cloud--large{
  animation-duration:30s;
  animation-delay:5s;
  top:300px;
  transform: scaleX(0.8) scaleY(0.8); 
}

.whoami{
  padding-top:3em;
  text-align:center;  
}







.container-profile {
  animation: animacion-login 30s infinite;
  -webkit-animation: animacion-login 30s infinite;
}

@-webkit-keyframes animacion-login {
  0% { background-color: #9b59b6; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

@keyframes animacion-login {
  0% { background-color: #9b59b6; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

.sun { 
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;  
  width:70px;
  height:70px;
  border-radius:50%;  
  background: rgba(255,255,255,0.3);
  opacity:0.9;      
  box-shadow: 0px 0px 40px 15px white;
}

.ray_box {
  position: absolute;
  margin: auto;
  top:0px;
  left:0;
  right:0;
  bottom:0; 
  width:70px;  
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {    
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}


@-webkit-keyframes ray_anim { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

/* Animación Sidebar */





/* Progress */
.wizard-progress {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  position: relative;
}
.wizard-progress .step:not(:last-child):before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 40px;
  background-color: #fff;
  height: 2px;
  width: 100%;
}
.wizard-progress .step .node {
  display: inline-block;
  border: 0px solid #fff;
  background-color: #EDEDED;
  border-radius: 18px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -18px;
  line-height: 2;
}
#check-green {color: #5ff400;}
#check-gray {color: #9B9B9B;}
.wizard-progress .step.complete:before {
  background-color: #016cf5;
}
.wizard-progress .step.complete .node {
  border-color: #01baf1;
  background-color: #ffffff;
}
.wizard-progress .step.complete .node:before {
  font-family: FontAwesome;
  content: "\f00c";
}
.wizard-progress .step.in-progress:before {
  background: #016cf5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #016cf5, #011b62);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #016cf5, #011b62); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wizard-progress .step.in-progress .node {
  border-color: #07c;
}



/* Link Progress */
.link span {
  white-space: nowrap;
  z-index: 1;
  position: absolute;
  display: inline-block;
  padding: 3px 10px;
  background: #016cf5;
  color: #fff;
  border-radius: 3px;
  
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  visibility: hidden;
  opacity: 0;
  
  transition: all .3s ease
}

.link span:after {
  position: absolute;
  content: '';
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.link a:hover + span {
  visibility: visible;
  opacity: 1;
  top: -10px;
}
/* Link Progress */



/*  Felicitación */
canvas {
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
  height: 350px;
}

#contenido-felicitacion {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
}
/*  Felicitación */




@media only screen and (min-width : 200px) {

}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
}
