body, html {
  height: 100%;
  margin: 0;
  color: #2c2c2c;
  font-family: 'Poppins', sans-serif;
  font-size:  18px;
  line-height: 1.5;
  background-color:  #ffffff;
}

.font-cursiva {
  font-family: 'Luckiest Guy', cursive;
}

#body-login {
  width: 100wh;
  height: 100vh;
  background: linear-gradient(-45deg, #9b59b6, #f1c40f, #1abc9c, #3498db, #9b59b6);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.navbar .nav .nav-item .nav-link {line-height: 30px; padding: 0px 5px; font-size: 16px; font-weight: 600; color: #ffffff;}
.navbar-fixed, .navbar-sticky.navbar-sticky-apply {z-index: 999999999;}

p {margin: 0; line-height: 1.5; font-weight: normal; font-size: 18px; text-align: justify;}

.poppins {font-family: 'Poppins', sans-serif;}
.navbar .nav .nav-item .nav-link {font-family: 'Poppins', sans-serif; text-transform: none; letter-spacing: 0px;}

.navbar .navbar-brand {margin-right: 0rem;}

.navbar .nav .nav-item .dropdown-menu {
    top: 50px;
    background: #fff;
    min-width: 200px;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.5;
}

.navbar .nav.nav-show {
    display: block;
    scroll-behavior: unset;
    overflow: scroll;
    height: auto;
}

.navbar-absolute .nav .nav-item .nav-link, .navbar-absolute .nav .nav-item .nav-link.active {
    color: #000000;
}

.navbar .nav .nav-item .nav-link:hover, .navbar .nav .nav-item .nav-link.active {
    color: #fcb548;
}

.sidebar-nav-content {
    width: 280px;
    height: auto;
    padding: 30px;
}

.navbar .nav .nav-item .dropdown-menu li a {
    display: block;
    font-size: 12px;
}

.sidebar-nav-toggle {border-bottom: 0px solid #e6e6e6;}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0px;
    letter-spacing: 0;
    color: #141414;
    font-weight: 700;
}

.sidebar-nav-toggle {
    background: #ffffff;
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 20px;
}

.navbar .nav .nav-item .dropdown-menu i {color: #016CF5;}

.img-profile-sidebar img {
  border: #ffffff solid 3px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  width: 40%;
}

.bg-gradient-nav {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-nav-perfil {
  background: url(http://bluepixel.mx/linkids/theme/assets/images/BG/bg-sidebar.svg);
  background-position: top;
  background-size: cover;
  height: 100%;
}

.slim-btn {
    width: 30px;
    height: 30px;
}






/*
.text-message-top {
  margin-bottom: 10px;
  font-size: 16px;
}

.wizard-progress {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  position: relative;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.wizard-progress .step:not(:last-child):before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 37px;
  background-color: #fff;
  height: 6px;
  width: 100%;
}
.wizard-progress .step .node {
  display: inline-block;
  border: 6px solid #fff;
  background-color: #fff;
  border-radius: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -18px;
}
.wizard-progress .step.complete:before {
  background-color: #07c;
}
.wizard-progress .step.complete .node {
  border-color: #07c;
  background-color: #07c;
}
.wizard-progress .step.complete .node:before {
  font-family: FontAwesome;
  content: "\f00c";
}
.wizard-progress .step.in-progress:before {
  background: #07c;
  background: -moz-linear-gradient(left, #07c 0%, #fff 100%);
  background: -webkit-linear-gradient(left, #07c 0%, #fff 100%);
  background: linear-gradient(to right, #07c 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#07c", endColorstr="#fff", GradientType=1 );
}
.wizard-progress .step.in-progress .node {
  border-color: #07c;
}
*/








/* Estilos Barra Progreso TOP */
.contenedor-progreso-top {
  padding: 50px 0px;
}

@-webkit-keyframes myanimation {
  from {left: 0%;}
  to {left: 50%;}
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  padding: 14px 20px 14px 80px;
  position: relative;
}

ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}

ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}

ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}




































.icon-active-progress {color: yellow; font-size: 34px;}
.icon-lock-progress {color: #0451b4; font-size: 34px;}

.bg-white {background-color: #ffffff;}
.bg-blue {background-color: #016cf5;}
.bg-yellow {background-color: #F7C600;}
.bg-orange {
  background: #ffbe42;
  background: -webkit-linear-gradient(to bottom, #ffbe42, #ff7b26);
  background: linear-gradient(to bottom, #ffbe42, #ff7b26);
}

.text-blue {color: #016cf5;}
.text-yellow {color: #FFE26B;}
.text-pink {color: #D200F0;}
.text-white {color: #ffffff;}

.sidebar-nav-content {top: 1;}

.container-white {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 30px;
  padding: 50px 100px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}

.container-white-inside {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
  padding: 50px 0px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}

.container-white-none-video {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
}

input, textarea {
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-bottom:  #016CF5 solid 0px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.15);
    background: white;
}

.button-blue {
  background-color: #016CF5;
  border-radius: 10px;
  padding: 15px 35px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.button-blue:hover {
  background-color: #D200F0;
  color: #ffffff;
  -webkit-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
}

.button-blue-transparent {
  background-color: transparent;
  border-radius: 10px;
  padding: 15px 35px;
  border: #016CF5 solid 1px;
  font-family: 'Poppins', sans-serif;
  font-size:  12px;
  color: #016CF5;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.button-blue-transparent:hover {
  background-color: #016CF5;
  color: #ffffff;
  -webkit-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
}

.button-orange {
  background-color: #fbac42;
  border-radius: 10px;
  padding: 15px 50px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size:  12px;
  color: #ffffff;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  font-size: 18px;
  font-weight: 900;
}

.button-orange:hover {
  background-color: #0169ec;
  color: #ffffff;
  -webkit-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
}

button {
    color: white;
}


#label-input {color: #016CF5; margin-bottom: 0px; font-size: 10px; text-align: left; margin-bottom: 0px;}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    box-shadow: 0px -0px 0px -0px rgba(0,0,0,0.25);
    background-color: transparent;
    border-radius: 10px;
}

/* Search */
.search .field {position: relative;}

.search label {
  background: url(https://png.icons8.com/search) no-repeat;
  background-size: contain;
  color: #b2b2b2;
  left: 50%;
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  transition: left .4s, transform .4s;
  padding-left: 2em;
  font-size: 12px;
}

.search .input-search {
  border: 1px solid #dfdfdf;
  border-radius: 0px;
  display: block;
  padding: .4em 2.5em;
  width: 100%;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.sidebar-nav-content {
    position: absolute;
}

.search .input-search:focus + label, .search .input-search:valid + label {
  left: .5em;
  transform: translate(0, -50%);
  opacity: 0.3;
}

.search .input-search:valid + label {
  text-indent: -9999px;
}
/* Search */

.margin-menu-search .navbar ul {margin-top: 20px;}
.img-menu-top-login {width: 100%;}
.img-profile-top {margin-top: 0px; width: 35%;}
.nav-dropdown {margin-top: 10px;}
.borde-img-top {border: #016CF5 solid 2px; width: 110px;}

.name-sidebar-profile {
  padding:  30px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

.name-sidebar-profile small {
  font-size: 12px;
}

.margin-profile-sidebar {
  margin-top:  50px;
}

.title-lessons {
  margin-top:  10px;
  color: #016cf5;
  text-align: center;
  font-weight:  600;
}

.title-lessons a {
  margin-top:  10px;
  color: #016cf5;
  text-align: center;
  font-weight:  600;
}

.image-lesion {
  display: block;
  float: none;
  text-align: left;
  position: absolute;
  z-index: 3;
}

.borde-img-active {border: #99f300 solid 4px;}
.borde-img-lock {border: #979797 solid 4px;}

.image-progress-blue {
  border: #016cf5 solid 3px;
  -webkit-transition: border 1s ease-out;
  -moz-transition: border 1s ease-out;
  -o-transition: border 1s ease-out;
  transition: border 1s ease-out;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
-moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}
.image-progress-pink {
  border: #D200F0 solid 3px;
  -webkit-transition: border 1s ease-out;
  -moz-transition: border 1s ease-out;
  -o-transition: border 1s ease-out;
  transition: border 1s ease-out;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
-moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}
.image-progress-yellow {
  border: #F7C600 solid 3px;
  -webkit-transition: border 1s ease-out;
  -moz-transition: border 1s ease-out;
  -o-transition: border 1s ease-out;
  transition: border 1s ease-out;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
-moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}

.image-progress-blue:hover {border: red solid 3px;}
.image-progress-pink:hover {border: red solid 3px;}
.image-progress-yellow:hover {border: red solid 3px;}

.number-profile h2 {font-size:  44px;}

/* The alert message box */
.alert {
    padding: 20px 0px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 0px;
    background: #02A5FB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #02A5FB, #016CF5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #02A5FB, #016CF5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: 0px;
    border-radius: 0px;
    box-shadow: 2px 4px 9px rgba(0,0,0,0.32);
    margin-top:  0px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#progress-top {
  margin-top: -30px;
  padding: 10px 0px;
  display: inline-flex;
}


#progress-top img {
  width: 15%;
  border: #fcb84b solid 2px;
}


/* Progress Bar Sidebar */
#progress-sidebar {
  margin-left: -20px;
  height: 700px;
  position: sticky;
}

#progress-sidebar .node {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    transition: all 1000ms ease;
}

#progress-sidebar .activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

#progress-sidebar .divider {
    height: 25px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
}

#progress-sidebar li p {
    display:inline-block;
    margin-left: 20px;
}

#progress-sidebar li {
    list-style: none;
    line-height: 1;
}

ul li {
    margin: 0 0 0px;
}

.blue { background-color: rgba(82, 165, 255, 1); }
.green{ background-color: rgba(92, 184, 92, 1) }
.red { background-color: rgba(255, 148, 148, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }

.text-sidebar-bar-inactive {
  font-size: 16px;
  margin-top: -90px;
  color: #c9c9c9;
}

.text-sidebar-bar span {
  font-size: 12px;
  color: #016cf5;
}

.text-sidebar-bar-inactive img {width: 10%;}

.text-sidebar-bar-inactive span {
  font-size: 12px;
  color: #c9c9c9;
}

.text-sidebar-bar img {width: 10%;}
.list-menu-sidebar {font-size:  10px; line-height: 1;}
.list-menu-sidebar a {color: #016cf5;}
.list-menu-sidebar a:hover {color: #5cb85c;}
/* Progress Bar Sidebar */

.caption i {font-size: 24px;}


.accordion li {
  list-style-type: none;
  border: 0px solid #e6e6e6;
      border-bottom-color: rgb(230, 230, 230);
      border-bottom-style: solid;
      border-bottom-width: 1px;
  border-bottom: 0;
  margin: 0;
  padding: 0px 0px;
}

.description-video {padding: 0px 50px;}

.description-video p {
  font-size:  12px;
  line-height: 2;
  text-align: justify;
  margin-bottom: 0px;
}

.video-list {
  padding: 5px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  border-radius:  10px;
  font-size: 10px;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.video-list img {
  -webkit-box-shadow: 2px -1px 3px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 3px 0px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 3px 0px rgba(0,0,0,0.14);
  border-radius:  5px;
}

.video-list:hover {
  background: #016cf5;
  color: white;
  cursor: pointer;
}

.progress-box .progress .progress-bar {background: #F7C600;}

#form-home input, textarea {
    border: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom-color: rgba(0, 0, 0, 0.1);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: #016CF5 solid 0px;
    margin-bottom: 10px;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#sidebar-nav-login {
    background-image: url(http://bluepixel.mx/linkids/theme/svg/bg-sidebar-login.svg);
    background-size: cover;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    overflow: hidden;
    margin-left: -50px;
}

#sidebar-nav-login-movil {
    background-image: url(http://bluepixel.mx/linkids/svg/bg-sidebar-login-movil.svg);
    background-position: center;
    background-size: cover;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

#sidebar-nav-registro {
    background-image: url(http://bluepixel.mx/linkids/theme/svg/bg-sidebar-login.svg);
    background-size: cover;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    overflow: hidden;
    margin-left: -50px;
}

.olvide-login {text-align: left; font-size: 14px;}
.olvide-login:hover {cursor: pointer; text-decoration: underline;}

.animacion-sidebar-menu {height: 100vh;}

.bg-gradient-nav-perfil {
  overflow: hidden;
}

#sidebar-videos {
  background-color:  white;
  border-right: #eeeeee solid 1px;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(to right top, rgba(5,25,55,0.7), #004d7a, rgba(0,135,147,0.7), #00bf72, rgba(168,235,18,0.7));
}

#modal-felicitacion {background-color: transparent; box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.3); margin-top:  200px;}

.titulo-modal-felicitacion {
  color: #ffffff;
  font-size: 54px;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.titulo-modal-felicitacion span {
  color: yellow;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -0px;
}

#form-modal #label-input {color: #ffffff;}

#form-modal input, textarea {
  border: 0px solid yellow;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-bottom-width: 0px;
  border-bottom: white solid 1px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #16b100;
  padding: 20px 20px;
  resize: none;
}

.modal .modal-content .modal-footer {
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.sidebar-nav-content {padding: 20px;}

#sidebar-nav-content-login {
    height: 600px;
    overflow: scroll;
}

.bg-image h1 {font-size: 28px; line-height: 1.2;}

.progress-box h6 {font-size: 10px;}

.titulo-video {font-size: 22px;}
.titulo-video small {font-size: 12px;}

.progreso-movil {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top:  10px;
  margin-bottom: 10px;
}

.progreso-movil img {
  -webkit-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  width: 8%;
}

.name-movil {
  font-size: 23px;
  text-align: center;
  line-height: 1;
  color: #ffffff;
  font-weight: 900;
}

.name-movil span{
  font-size: 10px;
  color: #ffffff;
  font-weight: 100;
}

.salir-movil {
  background-color: #f88531;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  float: right;
}

.salir-movil:hover {
  background-color: #f26422;
}

.badge {
  background-color:  #d200f0;
  color: white;
}

.list-movil {
  height: 150px;
  overflow: scroll;
}

a:hover {
    text-decoration: none;
}

.text-sidebar-bar a {
  color: #016cf5;
}

.text-sidebar-bar a:hover {
  color: #044caa;
}

.icono-star-sidebar-azul {
  color: #016cf5;
  padding: 3px;
  border: #016cf5 solid 1px;
  background-color: white;
  border-radius: 50%;
  font-size: 10px;
}

.icono-star-sidebar-gris {
  color: #BEBEBE;
  padding: 3px;
  border: #BEBEBE solid 1px;
  background-color: white;
  border-radius: 50%;
  font-size: 10px;
}

.icono-star-sidebar-gris-texto {
  color: #BEBEBE;
}

.icono-star-sidebar-gris-texto span {
    font-size: 12px;
    color: #016cf5;
}

.icono-star-sidebar-gris-texto a {
    color: #044caa;
}


.bg-white-content a, .bg-white a, .bg-white-09 a, .bg-white-08 a, .bg-white-07 a, .bg-white-06 a, .bg-white-05 a, .bg-white-04 a, .bg-white-03 a, .bg-white-02 a, .bg-white-01 a, .bg-secondary a, .bg-light a, .bg-white-content a, .bg-white a,
.bg-white-09 a, .bg-white-08 a, .bg-white-07 a, .bg-white-06 a, .bg-white-05 a, .bg-white-04 a, .bg-white-03 a, .bg-white-02 a, .bg-white-01 a, .bg-secondary a, .bg-light a {
    font-size: 22px;
    color: #044caa;
    font-size: 22px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
























/*Estilos buscador */
.searchbox {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 37px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 13px;
  font-family: arial, sans-serif;
  .algolia-autocomplete {
    display: block;
    height: 100%;
  }
}

.searchbox__wrapper {
  width: 100%;
  height: 100%;
}

.searchbox__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 19px;
  box-shadow: inset 0 0 0 1px #D9D9D9;
  background: #FFFFFF;
  padding: 0;
  padding-right: 30px;
  padding-left: 37px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
  display: none;
}

.searchbox__input:hover {
  box-shadow: inset 0 0 0 1px silver;
}

.searchbox__input:focus, .searchbox__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #4098CE;
  background: #FFFFFF;
}

.searchbox__input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.searchbox__input::-moz-placeholder {
  color: #AAAAAA;
}

.searchbox__input:-ms-input-placeholder {
  color: #AAAAAA;
}

.searchbox__input::placeholder {
  color: #AAAAAA;
}

.searchbox__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 18px 0 0 18px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 37px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.searchbox__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.searchbox__submit:hover, .searchbox__submit:active {
  cursor: pointer;
}

.searchbox__submit:focus {
  outline: 0;
}

.searchbox__submit svg {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  fill: #666666;
}

.searchbox__reset {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
  &.hide{
    display:none;
  }
}

.searchbox__reset:focus {
  outline: 0;
}

.searchbox__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.searchbox__input:valid ~ .searchbox__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.aa-dropdown-menu {
  position: relative;
  top: -6px;
  border-radius: 3px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  position: relative;
  background: transparent;
  border: none;
  width: 100%;
  left: 0 !important;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.1);
}

.aa-dropdown-menu:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  z-index: 0;
  top: -7px;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  transform: rotate(-45deg);
  border-radius: 2px;
  z-index: 999;
  display: block;
  left: 24px;
}

.aa-dropdown-menu .aa-suggestions {
  position: relative;
  z-index: 1000;
}

.aa-dropdown-menu [class^="aa-dataset-"] {
  position: relative;
  border: solid 1px #D9D9D9;
  border-radius: 3px;
  overflow: auto;
  padding: 8px 8px 8px;
}

.aa-dropdown-menu * {
  box-sizing: border-box;
}


.aa-suggestion {
  font-size: 1.1em;
  padding: 4px 4px 0;
  display: block;
  width: 100%;
  height: 38px;
  clear: both;
  span {
    white-space: nowrap!important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    float: left;
    line-height: 2em;
    width: calc(100% - 30px);
  }
  &.aa-cursor {
    background: #eee;
  }
  em {
    color: #4098CE;
  }
  img {
    float: left;
    vertical-align: middle;
    height: 30px;
    width: 20px;
    margin-right: 6px;
  }
}
/*Estilos buscador */







/* Home */
.bg-home-header {
  background-size: cover;
  background-position: center center;
}

.navbar-shrink.navbar-absolute .nav-toggle-btn .lines {background: white;}
.section-xl.bg-image .container, .section-xl.bg-image .container-fluid {  padding: 100px 20px;}

.titulo-header-home h1 {
  letter-spacing: -5px;
  line-height: 0.5;
  text-shadow: 2px 4px 9px rgba(0,0,0,0.32);
}

.titulo-header-home h1 span {
  letter-spacing: -0px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.32);
  text-transform: none;
}

.button-blue-home {
  background-color: #016CF5;
  border-radius: 10px;
  padding: 15px 50px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size:  10px;
  color: #ffffff;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.button-blue-home:hover {
  background-color: #D200F0;
  color: #ffffff;
  -webkit-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.45);
}

.bg-white-home {
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.25);
  background-color:  #ffffff;
  border-radius: 10px;
}

.container-white-2 {position: relative; margin-top: -200px;}

.text-home {color: #000000;}

.link-idiomas,
.link-idiomas2 {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  padding: 30px;
}

.link-idiomas:hover {background-color: rgba(104,60,140,0.90);}
.link-idiomas2:hover {background-color: rgba(253,91,103,0.70);}

.bg-gray-home {background-color: #F5F5F5;}

.container-logro {
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-radius: 10px;
}

.container-ingredientes,
.container-membresia {
  padding: 20px;
  border: white solid 1px;
  border-radius: 10px;
  background-color: #935aa8;
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.container-ingredientes:hover,
.container-membresia:hover {
  background-color: #0062e1;
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.40);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.40);
}

.container-ingredientes  img {  width: 50%;}
.container-membresia img {  width: 50%;}

.container-ingredientes-principal {
  background-color: #0062e1;
  padding: 20px;
  border: white solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
}

.container-ingredientes-principal p {
  font-weight:  900;
  line-height: 1.3;
  text-align: center;
}

.container-ingredientes-principal img {  width: 50%;}

.prices-box {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-image: linear-gradient(to left, #8EE7FE 0%, #FFE26B 100%);
        border-image-slice: 1;
        border-width: 5px;
}

.prices-box:hover {background-color: #FF7852;}

.prices-box img {
  width: 20%;
  position: relative;
  margin-top: -70px;
  width: 100px;
  height: 100px;
  background: #9900FF;
  background: -webkit-linear-gradient(to right, #39AFF9, #9900FF);
  background: linear-gradient(to right, #39AFF9, #9900FF);
  border-radius: 50%;
  border: #ffffff solid 5px;
  padding: 10px;
}

.prices-box h3 {line-height: 1.5;}

.price h1 {
  background: #FF7852;
  border-radius:  10px;
  color: #ffffff;
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.25);
}

.navbar-shrink.navbar-absolute, .navbar-shrink.navbar-absolute-dark {
  background: #ffffff;
}

.icon-menu {color: #FFE26B;}
#menu-home {font-size: 15px;}

.prices-box .price h1 span, .prices-box .price h2 span, .prices-box .price h3 span, .prices-box .price h4 span, .prices-box .price h5 span, .prices-box .price h6 span {
    color: #ffffff;
}

.button-green-home,
.button-blue-home {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  -webkit-transition: border 1s ease-out;
  -moz-transition: border 1s ease-out;
  -o-transition: border 1s ease-out;
  transition: border 1s ease-out;
}

.button-green-home {
  background: #6DDD00;
  background: -webkit-linear-gradient(to top, #6DDD00, #27C100, #00A400);
  background: linear-gradient(to top, #6DDD00, #27C100, #00A400);
  border: #6DDD00 solid 4px;
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  text-shadow: 2px 4px 9px rgba(0,0,0,0.32);
}

.button-blue-home {
  background: #0094F3;
  background: -webkit-linear-gradient(to bottom, #0094F3, #00C9FF, #83DFFF);
  background: linear-gradient(to bottom, #0094F3, #00C9FF, #83DFFF);
  border: #0094F3 solid 4px;
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  text-shadow: 2px 4px 9px rgba(0,0,0,0.32);
}

.button-green-home:hover,
.button-blue-home:hover {
  -webkit-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  box-shadow: inset -4px 4px 18px 0px rgba(0,0,0,0.20);
  cursor: pointer;
}

.button-green-home:hover {
  border: #054905 solid 4px;
  color: #054905;
}

.button-blue-home:hover {
  border: #0D5A75 solid 4px;
  color: #0D5A75;
}

.icon-btn-home {
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(246,248,249,0.5) 0%, rgba(229,235,238,0.5) 50%, rgba(215,222,227,0.5) 51%, rgba(245,247,249,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(246,248,249,0.5) 0%,rgba(229,235,238,0.5) 50%,rgba(215,222,227,0.5) 51%,rgba(245,247,249,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(246,248,249,0.5) 0%,rgba(229,235,238,0.5) 50%,rgba(215,222,227,0.5) 51%,rgba(245,247,249,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #ffffff;
  padding: 3px;
  border-radius: 50%;
  border:  white solid 2px;
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.25);
}

.navbar-absolute .nav .nav-item .nav-link, .navbar-absolute .nav .nav-item .nav-link.active {
    color: #ffffff;
}

.navbar-absolute .nav .nav-item .nav-link:hover, .navbar-absolute .nav .nav-item .nav-link.active {
    color: #ffe26b;
}

.bg-black-06 {
    background: rgba(252, 192, 79, 0.8)
}

#contenedor-registro {
  height: 600px;
}

.cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.cbx:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 10px;
}
#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #0267e8;
  animation: jelly 1s ease;
}
#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.cntr {
  text-align: left;
}
@-moz-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}



.prices-box .btn, .prices-box .text-button, .prices-box .button {
    margin-top: 0px;
}



.nextVideoLabel{
  position: absolute;
  top: 33px;
  left: 0px;
  /*background: #000000bd;*/
  color: #fff;
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 27% 0 0 0;
  font-size: 2em;
  cursor: pointer;
  opacity: .6;
  display: none;
      z-index: 100000;
}

.nextVideoLabel > div{
  text-shadow:3px 3px 3px #000;
}

.nextVideoLabel.visible{
  display: block;
}


.nextVideoLabel:hover{
  opacity: 1;
}

.autocompleteResponse{
  position: absolute;
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #000;
  padding:10px;
  display:none;

  padding: 10px;
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1;
}

.autocompleteResponse.in{
  display:block;
}

.autocompleteResponse li{
  list-style: none;
}

.autocompleteResponse li a {
    display: block;
    width: 100%;
    padding: 1px 10px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.autocompleteResponse li a:hover{
  background:#016cf5;
  color:#fff;
}




.social {
  position: fixed;
  right: 0;
  z-index: 2000;
  margin-right: 15px;
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color:#fff;
  text-decoration: none;
    text-align: center;;
    padding-top: -5px;

}

.icon-whatsapp,
.icon-planes {
  border:#ffffff solid 2px;
  -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.icon-whatsapp {
  background:#1ad03f;
  margin-bottom:10px;
  border-radius: 50%;
}

.icon-whatsapp:hover {background:#2bb140;}

.icon-planes {
  border-radius: 50%;
  font-weight: 900;
  margin-top: 10px;
  background: #ff4b39;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff4b39, #ba0d00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff4b39, #ba0d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon-planes:hover {background:#b80b00;}

.navbar .nav .nav-item {
    margin-right: 10px;
}



























@media only screen and (min-width : 200px) {
  .titulo-header-home h1 {
    font-size: 44px;
    letter-spacing: 2px;
  }

  .titulo-header-home h1 span {
    font-size: 18px;
  }

  .button-green-home,
  .button-blue-home {
    border-radius: 40px;
    padding: 10px 15px;
    font-size:  14px;
  }

  .img-header-home img {width: 80%;}

  .bg-white-home {
    padding: 20px;
  }

  .subtitulo-home {color: #39AFF9; font-size: 28px; line-height: 1; letter-spacing:2px;}
  .subtitulo-home span {color: #FFE26B; font-size: 18px; letter-spacing:-0px;}

  .img-kid2 img {width: 80%;}

  .idiomas img {width: 50%; margin-top: 30px;}
  .idiomas h3 {font-size:36px; letter-spacing: -2px; font-weight: 900; line-height: 0.9;}
  .idioma-borde {border-right: rgba(255,255,255,0.25) solid 0px;}

  .container-ingredientes,
  .container-ingredientes-principal {
    height: auto;
  }

  .container-membresia { height: auto;}

  .container-precios {padding-top: 0px;}

  .price h1 {
    font-size: 38px;
    padding: 10px 30px;;
  }

  .prices-box {
    background-color: rgba(255,255,255,0.30);
  }

  .container-logro img {
    position: relative;
    margin-top: -0px;
    margin-right: -0px;
    margin-bottom: -0px;
  }

  .social {
    top: 350px;
  }

  .social ul li a {
    font-size: 13px;
  }

  .icon-whatsapp,
  .icon-planes {
    font-size: 20px;
    padding: 5px;
    width: 70px;
    height: 70px;
  }

  .social ul li a i {
    font-size: 32px;
    margin-top: 10px;
  }

  #margin-planes {margin-top: 15px;}


}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  .titulo-header-home h1 {
    font-size: 60px;
  }

  .titulo-header-home h1 span {
    font-size: 24px;
  }

  .button-green-home,
  .button-blue-home {
    border-radius: 40px;
    padding: 10px 5px;
    font-size:  10px;
  }

  .img-header-home img {width: 50%;}

  .bg-white-home {
    padding: 50px;
  }

  .subtitulo-home {
    color: #39AFF9;
    font-size: 34px;
  line-height: 1.1;
  letter-spacing: 2px;
  }
  .subtitulo-home span {color: #FFE26B; font-size: 18px; letter-spacing:-0px;}

  .img-kid2 img {width: 90%;}

  .idiomas img {width: 30%; margin-top: 30px;}
  .idiomas h3 {font-size:24px; letter-spacing: -2px; font-weight: 900; line-height: 0.9;}
  .idioma-borde {border-right: rgba(255,255,255,0.25) solid 1px;}

  .container-ingredientes,
  .container-ingredientes-principal {
    height: 400px;
  }

  .price h1 {
    font-size: 18px;
    padding: 10px 30px;;
  }

  .button i {
    margin-right: 8px;
    font-size: 10px;
  }

  .icon-btn-home {
    width: 15px;
    height: 15px;
  }

  .social {
    top: 500px;
  }

  .icon-whatsapp {
    font-size: 22px;
    padding: 10px;
    width: 60px;
    height: 60px;
  }

  .icon-planes {
    font-size: 16px;
    padding-top: 13px;
    width: 60px;
    height: 60px;
  }

  .social ul li a i {
    font-size: 32px;
    margin-top: 3px;
  }


  #margin-planes {margin-top: 2px;}

}

@media only screen and (min-width : 992px) {

  .titulo-header-home h1 span {
    font-size: 24px;
  }

  .idiomas img {width: 30%; margin-top: 30px;}
  .idiomas h3 {font-size:38px; letter-spacing: -2px; font-weight: 900; line-height: 1.2;}
  .idioma-borde {border-right: rgba(255,255,255,0.25) solid 1px;}

  .container-ingredientes,
  .container-ingredientes-principal {
    height: 500px;
  }

  .container-precios {padding-top: 400px;}

  .price h1 {
    font-size: 28px;
    padding: 10px;
  }

  .button-green-home,
  .button-blue-home {
    border-radius: 40px;
    padding: 10px 20px;
    font-size:  16px;
  }

  .button i {
    margin-right: 8px;
    font-size: 15px;
  }

  .icon-btn-home {
    width: 25px;
    height: 25px;
  }

  .prices-box {
    background-color: rgba(255,255,255,0.20);
  }

  .container-logro img {
    position: relative;
    margin-top: -50px;
    margin-right: -100px;
    margin-bottom: -50px;
  }

  .social {
    top: 300px;
  }

}

@media only screen and (min-width : 1200px) {
  .container-ingredientes,
  .container-ingredientes-principal {
    height: 450px;
  }

  .button-green-home,
  .button-blue-home {
    border-radius: 40px;
    padding: 15px 20px;
    font-size:  20px;
  }

}
/* Home */
























@media only screen and (min-width : 200px) {

}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
}
