@media only screen and (min-width : 200px) {
#sidebar-nav-login {
    width: 500px;
    height: 100%;
    padding: 100px 100px 0px 20px;
}

#sidebar-nav-registro {
    width: 500px;
    height: 100%;
    padding: 100px 100px 0px 20px;
}

#sidebar-nav-login-movil {
    width: 100%;
    height: auto;
    padding: 5px;
    height: auto;
    margin-top: 0px;
}

.logo-movil {width: 50%;}

h3 {
    font-size: 18px;
    line-height: 1;
}

h5 {
    font-size: 14px;
    line-height: 36px;
}

.container-white-none {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px;
  height: 100vh;
}

.text-responsive {text-align: center;}
.text-descarga-movil {text-align: center;}

.image-title-video {width: 7%;}
.image-title-video-flag {width: 7%;}
.image-title-video-flag-videos {width: 7%;}

.image-lesion {
  margin-top: -15px;
  margin-left: -0px;
}

.title-lessons img {width: 7%; margin-left:  5px;}

.text-sidebar-bar {
  font-size: 16px;
  margin-top: 0px;
}

.container-white-top {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 30px;
  padding: 20px 20px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}

.image-progress {
  margin-top:  0px;
  padding: 10px;
  width: 30%;
}

.navbar .nav {
    background: #0068ee;
}

.container-white-video {
  background-image: url(http://linkids.com.mx/theme/svg/home/header.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom:  20px;
  border-top: #016cf5 solid 5px;
  border-bottom: #016cf5 solid 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 65.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
  width: 100%;
  padding-top: 30px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: red solid 20px;
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.55);
}

.sidebar-nav-left .sidebar-nav-toggle, .sidebar-nav-left .sidebar-nav-content {
    border-right: 1px solid #e6e6e6;
    height: 100vh;
}

.img-menu-top {width: 60%;}
.navbar-shrink {height: 100px;}

.navbar .navbar-brand img {
    max-height: 60px;
    margin-top: -0px;
}

.prices-box {
  height: auto;
  margin-bottom: 30px;
}

.container-logro {
  padding: 10px;
}







}

@media only screen and (min-width : 480px) {
.image-title-video {width: 5%;}
.image-title-video-flag {width: 5%;}
.image-title-video-flag-videos {width: 5%;}

.title-lessons img {width: 5%; margin-left:  5px;}

#sidebar-nav-login-movil {
    padding: 10px 80px 10px 80px;
    height: 100vh;
}

/* SVG Login */
#hombre {
  top: 30%;
  width: 10%;
  position: absolute;
  margin-left: 30%;
  z-index: 3;
}

#montana {
  width: 60%;
  position: absolute;
  top: 5%;
  left: 40%;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

#sol {
  left: 40%;
  top: -15%;
  z-index: 1;
}
/* SVG Login */








}

@media only screen and (min-width : 768px) {
#sidebar-nav-login {
    width: 500px;
    height: 100%;
    padding: 100px 100px 0px 20px;
}

#sidebar-nav-registro {
    width: 900px;
    height: 100%;
    padding: 100px 100px 0px 20px;
}

/* SVG Login */
#hombre {
  top: 30%;
  width: 10%;
  position: absolute;
  margin-left: 30%;
  z-index: 3;
}

#montana {
  width: 60%;
  position: absolute;
  top: 5%;
  left: 40%;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

#sol {
  left: 40%;
  top: -15%;
  z-index: 1;
}
/* SVG Login */


h3 {
    font-size: 26px;
    line-height: 1-.3;
}

h5 {
    font-size: 20px;
    line-height: 36px;
}

.container-white-none {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 0px;
  height: 100vh;
  overflow: hidden;
}

.text-responsive {text-align: left;}
.text-descarga-movil {text-align: right;}

.image-title-video {width: 2%;}
.image-title-video-flag {width: 7%; margin-top: -5px;}
.image-title-video-flag-videos {width: 5%;}

.image-lesion {
  margin-top: -15px;
  margin-left: -10px;
}

.title-lessons img {
    width: 5%;
    margin-left: 5px;
    margin-top: -3px;
}

.text-sidebar-bar {
  font-size: 20px;
  margin-top: -25px;
}

.container-white-top {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 30px;
  padding: 50px 50px;
  -webkit-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
  box-shadow: 2px -1px 10px 2px rgba(0,0,0,0.14);
}

.image-progress {
  margin-top:  30px;
  padding: 20px;
  width: 100%;
}

.navbar .nav {
    background: transparent;
}

.container-white-video {
  background-image: url(http://linkids.com.mx/theme/svg/home/header.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom:  20px;
  border-top: #016cf5 solid 5px;
  border-bottom: #016cf5 solid 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 40.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
  width: 65%;
  padding-top: 30px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: red solid 20px;
  box-shadow: 0px -1px 18px -4px rgba(0,0,0,0.55);
}

.sidebar-nav-left .sidebar-nav-toggle, .sidebar-nav-left .sidebar-nav-content {
    border-right: 1px solid #e6e6e6;
    height: 100vh;
}

.img-menu-top {width: 15%;}
.navbar-shrink {height: 110px;}

.navbar .navbar-brand img {
    max-height: 100px;
    margin-top: 10px;
}

.prices-box {
  height: 400px;
  margin-bottom: 30px;
}

.container-logro {
  padding: 50px;
}








}

@media only screen and (min-width : 992px) {
  /* SVG Login */
#hombre {
  top: 35%;
  width: 10%;
  position: absolute;
  margin-left: 35%;
  z-index: 3;
}

#montana {
  width: 60%;
  position: absolute;
  top: 2%;
  overflow: hidden;
  z-index: 2;
}

#sol {
  left: 40%;
  top: 10%;
  z-index: 1;
}
/* SVG Login */

}




@media only screen and (min-width : 1200px) {
#sidebar-nav-login {
    width: 500px;
    height: 100vh;
    padding: 20px 100px 0px 100px;
}

#sidebar-nav-registro {
    width: 600px;
    height: 100vh;
    padding: 20px 100px 0px 100px;
}

/* SVG Login */
#hombre {
  top: 25%;
  width: 10%;
  position: absolute;
  margin-left: 35%;
  z-index: 3;
}

#montana {
  width: 45%;
  position: absolute;
  top: 20%;
  overflow: hidden;
  margin-left: 5%;
  z-index: 2;
}

#sol {
  left: 40%;
  top: -10%;
  z-index: 1;
}
/* SVG Login */


}



@media only screen and (min-width : 1400px) {
#sidebar-nav-login {
    width: 750px;
    height: 100%;
    padding: 100px 150px 0px 100px;
}

#sidebar-nav-registro {
    width: 750px;
    height: 100%;
    padding: 100px 150px 0px 100px;
}

/* SVG Login */
#hombre {
  top: 50%;
  width: 12%;
  position: absolute;
  margin-left: 40%;
  z-index: 3;
}

#montana {
  width: 40%;
  position: absolute;
  top: 30%;
  overflow: hidden;
  z-index: 2;
  left: 50%;
}

#sol {
  left: 35%;
  top: -30%;
  z-index: 1;
}
/* SVG Login */


}



@media only screen and (min-width : 1700px) {
/* SVG Login */
#hombre {
  top: 25%;
  width: 15%;
  position: absolute;
  margin-left: 42%;
  z-index: 3;
}

#montana {
  width: 50%;
  position: absolute;
  top: 20%;
  overflow: hidden;
  z-index: 2;
  left: 45%;
}

#sol {
  left: 40%;
  top: -20%;
  z-index: 1;
}
/* SVG Login */
}
